.weather{
    place-self: center;
    padding:40px;
    border-radius: 10px;
    background:linear-gradient(180deg, hsl(187, 85%, 64%),rgb(135, 19, 230));
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: min(90%, 420px);

}
.search-bar{
    display: flex;
    align-items: center;
    gap:12px;
}
.search-icon{
   
    width:50px;
    border-radius: 50%;
    padding: 15px;
    background: #ebfffc;
    cursor: pointer;
}
.search-bar input{
    height:50px;
    border:none;
    outline: blue;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.sun-icon{
   width:150px;
   margin:30px 0
}
.temperature{
    color:white;
    font-size:80px;
    line-height: 1;
}
.location{

    font-size: 40px;
    color: white;

}
.weather-data{
    width:100%;
    margin-top:40px;
    color:white;
    display: flex;
    justify-content: center;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 22px;
}
.weather-data .col img{
    display:block;
    font-size: 16px;

}

.weather-data .col img{
    width:36px;
    margin-top: 10px;

}