.weather{
    place-self: center;
    padding:2rem;
    border-radius: 10px;
    background:linear-gradient(180deg, hsl(187, 85%, 64%),rgb(135, 19, 230));
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: min(90%, 420px);

}
.search-bar{
    display: flex;
    align-items: center;
    gap:12px;
}
.search-icon{
   
    width:2.5rem;
    border-radius: 50%;
    padding: 0.8rem;
    background: #ebfffc;
    cursor: pointer;
}
.search-bar input{
    height:3rem;
    border:none;
    outline: blue;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 1rem;
}
.sun-icon{
   width:8rem;
   margin:2rem 0;
}
.temperature{
    color:white;
    font-size:4rem;
    line-height: 1;
}
.location{

    font-size: 2rem;
    color: white;

}
.weather-data{
    width:100%;
    margin-top:2rem;
    color:white;
    display: flex;
    justify-content: center;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
}
.weather-data .col img{
    display:block;
    font-size: 16px;

}

.weather-data .col img{
    width:2rem;
    margin-top: 0.5rem;

}
@media (max-width: 480px) {
    .weather {
        padding: 1.5rem;
        width: 95%;
    }

    .sun-icon {
        width: 6rem;
    }

    .temperature {
        font-size: 3rem;
    }

    .location {
        font-size: 1.5rem;
    }

    .weather-data {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .weather-data .col {
        justify-content: center;
        width: 100%;
        font-size: 1rem;
    }

    .weather-data .col img {
        width: 1.8rem;
    }

    .search-bar input {
        height: 2.6rem;
        font-size: 0.9rem;
    }

    .search-icon {
        width: 2.2rem;
        padding: 0.6rem;
    }
}